body{
    background-color: #45824c;
}
#form{
    background: white;
    width: 25%;
    margin: 120px auto;
    padding: 50px;
    box-shadow: 10px 10px 5px rgb(4, 50, 4);
    border-radius: 10px;
}
#btn{
    color:white;
    background-color: #68ad2b;
    padding: 7px;
    font-size: small;
    border-radius: 10px;
}
@media screen and (max-width:700px){
    #form{
        width: 65%;
        padding: 40px;
    }
}